@Model List<Search>
@{
    ViewBag.Title = "MovieSearchResults";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

    <!--<table class="table table-bordered table-responsive table-hover" style="width: 1000px;">
        <tr>
            <th style="text-align: center;">Title</th>
            <th style="text-align: center;">Year</th>
            <th style="text-align: center;">ImdbID</th>
            <th style="text-align: center;">Type</th>
            <th style="text-align: center;">Poster</th>
            <th style="text-align: center;">Selection</th>
        </tr>
        <tr style="text-align: center; vertical-align: middle;">
            <td style="vertical-align: middle;">Fellowship of the Ring</td>
            <td style="vertical-align: middle;">2001</td>
            <td style="vertical-align: middle;">tt0120737</td>
            <td style="vertical-align: middle;">Movie</td>
            <td style="vertical-align: middle;"><img src="@Url.Content("https://m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNWUzMi00MTgxLWI0NTctMzY4M2VlOTdjZWRiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_SX300.jpg"),
     height="100" width="100"/></td>
            <td style="vertical-align: middle;"><input type="submit" value="Select" /></td>
        </tr>
    </table>-->
    <h2>MovieSearchResults</h2>

</body>
</html>
