
@{
    ViewBag.Title = "CollectionError";
}

<h2 style="text-align:center;">You already have added this movie to your collection!</h2>
<div style="text-align:center;">@Html.ActionLink("Return to Your Collection!", "ViewCollection", "UserProfile", new { @class = "btn btn-primary btn-large" })</div>

