@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>The Social Movie Management Application provides users
with the ability to manage their physical movie media collections,
while encouraging social conversations regarding this fantastic hobby.</p>
<br />
<p>
    The application is currently within development and will be expanded upon
    over the course of the next 3 weeks!
</p>
<br />
<p>
    Version 0.2 features:
    <br />
    - Users can now create, view, and update their personal profiles.
    <br />
    - Users can now search for other users within the application and view their profiles.
    <br />
    - Users can logout of the application.
    <br />
    - Updated visuals for home page.
</p>
<br />
<p>
    Version 0.3 features:
    <br />
    - Users can now search for movies through an established persistent database through the implemented API.
    <br />
    - View in-depth details related to specific movies found in search results.
    <br />
    - Create and manage a personal movie collection for display within their profile.
    <br />
    - View other user's personal movie collections within their profile pages.
</p>
<br />

View coding progress: <a href="https://github.com/cmdeao/SocialMovieManagementApplication">Project GitHub </a>
