@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>The Social Movie Management Application provides users
with the ability to manage their physical movie media collections,
while encouraging social conversations regarding this fantastic hobby.</p>
<br />
<p>
    The application is currently within development and will be expanded upon
    over the course of the next 5 weeks!
</p>
