@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Cameron Deao
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cdeao@my.gcu.edu">cdeao@my.gcu.edu</a><br />
</address>