@{
    ViewBag.Title = "Home Page";
}

<h2 style="text-align: center;">Social Movie Management Application!</h2>

<style>
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<h3 style="text-align: center;">
    @ViewBag.Message
</h3>


<body>
    <div style="text-align: center;">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            @Html.TextBox("SearchText", "", new { placeholder = "Search users" })
            <input type="submit" value="Search" />
        }
        <br />
        @using (Html.BeginForm("Index", "MovieSearch", FormMethod.Post))
        {
            @Html.TextBox("MovieSearchTerm", "", new { placeholder = "Search movies" })
            <input type="submit" value="Search" />
        }
        <br />
    </div>
    <img src="~/Content/Images/FilmReel-2.jpg" class="center" width="500" height="400" />
    <br />
    
</body>